body
	font-family "Catamaran", sans-serif

ul li a
	color #f4645f

ul li ul li a
	font-weight normal

.header-anchor
	color #f4645f

h1, h2, h3, h4, p
	color #525252

.sidebar ul li a.active
	color #f4645f
	border-left-color #f4645f

.sidebar ul li a:hover
	color #f4645f

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
	border-bottom-color #f4645f

.prev a
	color #f4645f

.next a
	color #f4645f

p a
	color #f4645f

.content .custom-block.tip
	border-color #64B5F6

table tbody tr td a
	color #f4645f

.sidebar .sidebar-links li div .sidebar-heading
	color #525252

.sidebar .sidebar-links li div .sidebar-heading:hover
	color #f4645f